body {
    font-family: Arial, sans-serif;
    background-image: url(https://t4.ftcdn.net/jpg/04/97/80/99/360_F_497809944_FMo3DO6j7XSlb9rZKOlnqaaWoJhuZXBm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.weather-app {
    background-color: azure;
    padding: 45px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.weather-app h2{
    color: #3354cd;
}
.header {
    margin-bottom: 20px;
    text-align: center;
}

#city-input {
    padding: 10px;
    width: 200px;
    margin-right: 10px;
    border: 1px solid #f2c4c4;
    border-radius: 5px;
}

#search-btn {
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-btn:hover {
    background: #06080a;
}

.weather-info {
    margin-top: 20px;
    color: rgb(149, 157, 49);
}

.weather-info div {
    margin: 10px 0;
}
